doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='css/style.css')
        title テストです
        meta(name='description', content='')
        meta(name='keywords', content='')
    body
        #content
        .inner
            p Hello Pug!
            p テストテスト
            strong test
            strong こんにちは
        script(src='js/script.js')